---
import AchievementCard from './AchievementCard.astro';
import BookSvg from '../assets/images/undraw_books_re_8gea.svg';

const achievementSection = {
  title: 'Achievements And Publications',

  achievementsCards: [
    {
      title: 'Reuse of variants in online repositories: Foraging for the fittest',
      subtitle: 'Publication: 2016 IEEE Symposium on Visual Languages and Human-Centric Computing',
      image: BookSvg.src,
      alt: 'Woman showing book',
      footerLink: [
        {
          name: 'IEEE Publication',
          url: 'https://ieeexplore.ieee.org/document/7739674',
        },
      ],
    },
  ],
} as const;
---

<section class="main" id="achievements">
  <div class="achievement-main-div">
    <div class="achievement-header">
      <h2 class="heading achievement-heading">{achievementSection.title}</h2>
    </div>
    <div class="achievement-cards-div">
      {
        achievementSection.achievementsCards.map((card) => (
          <AchievementCard
            title={card.title}
            subtitle={card.subtitle}
            image={card.image}
            alt={card.alt}
            footerLink={card.footerLink}
          />
        ))
      }
    </div>
  </div>
</section>
<style lang="scss">
  @use '../styles/variables.scss' as global;
  .main {
    margin-top: global.$section-margin-top;
  }
  .achievement-heading {
    @include global.heading-fonts();
    font-weight: 400;
    text-align: center;
  }
  /* Media Query */
  @media (min-width: 768px) {
    .achievement-heading {
      text-align: left;
    }
  }
</style>
