---
type FooterLink = {
  readonly name: string;
  readonly url: string;
};

interface Props {
  readonly title: string;
  readonly subtitle: string;
  readonly image: string | null;
  readonly alt: string;
  readonly footerLink: readonly FooterLink[];
}

const cardInfo = Astro.props;
---

<div class="achievement-card">
  <div class="achievement-image-div">
    <img src={cardInfo.image} alt={cardInfo.alt} class="card-image" />
  </div>
  <div class="achievement-detail-div">
    <strong class="card-title">{cardInfo.title}</strong>
    <p class="card-subtitle">{cardInfo.subtitle}</p>
  </div>
  <div class="achievement-card-footer">
    {
      cardInfo.footerLink.map((v: FooterLink) => (
        <a class="achievement-tag" href={v.url} target="_blank">
          {v.name}
        </a>
      ))
    }
  </div>
</div>
<style lang="scss">
  @use '../styles/variables.scss' as global;
  .card-image {
    width: 100%;
    height: auto;
    max-width: 360px;
  }
  .card-title {
    color: var(--primary-text);
    @include global.paragraph-fonts();
    font-weight: 700;
    margin: 15px 0 0 0;
  }
  .card-subtitle {
    color: #666666;
    @include global.paragraph-fonts();
  }
  .achievement-card {
    background-color: var(--primary-bg);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 30px -15px;
    padding: 1.5rem 1.5rem 0 1.5rem;
    border-radius: 10px;
    border: 1px solid rgba(211, 211, 211, 0.397);
  }
  .achievement-detail-div {
    text-align: center;
  }
  .achievement-card:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px -10px;
  }
  .achievement-image-div {
    position: relative;
    height: 250px;
    overflow: hidden;
    text-align: center;
  }
  .achievement-cards-div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem 1rem;
  }
  .achievement-card-footer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
  .achievement-card-footer a.achievement-tag {
    background: #55198b;
    color: #f5f2f4;
    vertical-align: middle;
    align-items: center;
    border-radius: 4px;
    display: inline-flex;
    font-size: 1rem;
    height: 2rem;
    justify-content: center;
    white-space: nowrap;
    line-height: 1.5;
    margin: 0.5rem 0 1rem 0;
    padding: 0 0.75rem;
    cursor: pointer;
    transition: 0.2s ease-in;
    text-decoration: none;
  }
  a.achievement-tag:hover {
    background: #8c43ce;
  }

  @media (min-width: 1380px) {
    .achievement-card-footer a.achievement-tag {
      font-size: 1.1875rem;
    }
  }
</style>
