---
import AchievementCard from './AchievementCard.astro';
import BookSvg from '../assets/images/undraw_books_re_8gea.svg';

const achievementSection = {
  title: 'Achievements And Publications',

  achievementsCards: [
    {
      title: 'Reuse of variants in online repositories: Foraging for the fittest',
      subtitle: 'Publication: 2016 IEEE Symposium on Visual Languages and Human-Centric Computing',
      image: BookSvg.src,
      footerLink: [
        {
          name: 'IEEE Publication',
          url: 'https://ieeexplore.ieee.org/document/7739674',
        },
      ],
    },
  ],
} as const;
---

<div class="main" id="achievements">
  <div class="achievement-main-div">
    <div class="achievement-header">
      <h2 class="heading achievement-heading">{achievementSection.title}</h2>
    </div>
    <div class="achievement-cards-div">
      {
        achievementSection.achievementsCards.map((card) => (
          <AchievementCard
            title={card.title}
            subtitle={card.subtitle}
            image={card.image}
            footerLink={card.footerLink}
          />
        ))
      }
    </div>
  </div>
</div>
<style>
  .main {
    margin-top: var(--section-margin-top);
  }
  .achievement-heading {
    font-size: var(--heading-size);
    line-height: var(--line-height);
    font-weight: 400;
  }
  .achievement-subtitle {
    text-transform: uppercase;
  }
  /* Media Query */
  @media (max-width: 1380px) {
    .achievement-heading {
      font-size: 2.5rem;
    }
  }
  @media (max-width: 768px) {
    .achievement-heading {
      font-size: 1.875rem;
      text-align: center;
    }
    .achievement-subtitle {
      font-size: 1rem;
      line-height: normal;
      text-align: center;
    }
  }
</style>
