---
import EducationCard from './EducationCard.astro';
import universityOfTulsaUrl from '../assets/images/the-university-of-tulsa.svg';
import developerActivitySvg from '../assets/images/undraw_developer_activity_re_39tg.svg';

const educationInfo = [
  {
    schoolName: 'University of Tulsa',
    schoolUrl: 'https://utulsa.edu/',
    logo: universityOfTulsaUrl,
    subHeader: 'Bachelor of Science Computer Science',
    duration: 'September 2013 - May 2017',
    descBullets: [
      '⚡Data Structures',
      '⚡Database Systems',
      '⚡Comparative Programming Languages',
      '⚡Operating Systems',
      '⚡Linear Algebra and Matrix Theory',
    ],
  },
] as const;
---

<section class="main" id="education">
  <div class="education-main-div">
    <div>
      <div class="education-section">
        <h2 class="education-heading">Education</h2>
        <div class="education-card-container">
          {
            educationInfo.map((school) => (
              <EducationCard
                schoolName={school.schoolName}
                schoolUrl={school.schoolUrl}
                logoUrl={school.logo.src}
                degree={school.subHeader}
                duration={school.duration}
                descBullets={school.descBullets}
              />
            ))
          }
        </div>
      </div>
    </div>
    <div>
      <div class="education-image-div">
        <img alt="Developer Working" src={developerActivitySvg.src} />
      </div>
    </div>
  </div>
</section>
<style lang="scss">
  @use '../styles/variables.scss' as global;
  .main {
    margin-top: global.$section-margin-top;
  }
  .education-main-div {
    display: flex;
    flex-direction: column;
  }

  .education-main-div > * {
    flex: 1;
  }

  .education-image-div > img {
    width: 100%;
    height: auto;
  }

  .education-heading {
    @include global.heading-fonts();
    font-weight: 400;
    text-align: center;
  }

  .education-section {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .education-section > * {
    flex: 1;
  }

  .education-card-container {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: 768px) {
    .education-main-div {
      flex-direction: row;
    }

    .education-heading {
      text-align: left;
    }
  }
</style>
