---
import EducationCard from './EducationCard.astro';
import universityOfTulsaUrl from '../assets/images/UniversityOfTulsa.png';
import developerActivitySvg from '../assets/images/undraw_developer_activity_re_39tg.svg';

const educationInfo = [
  {
    schoolName: 'University of Tulsa',
    logo: universityOfTulsaUrl,
    subHeader: 'Bachelor of Science Computer Science',
    duration: 'September 2013 - May 2017',
    desc: 'Proud graduate of the University of Tulsa',
    descBullets: [
      'Data Structures',
      'Database Systems',
      'Comparative Programming Languages',
      'Operating Systems',
      'Linear Algebra and Matrix Theory',
    ],
  },
] as const;
---

<div class="main" id="education">
  <div class="education-main-div">
    <div>
      <div class="education-section education-text-div">
        <h1 class="education-heading">Education</h1>
        <div class="education-card-container">
          {
            educationInfo.map((school) => (
              <EducationCard
                schoolName={school.schoolName}
                logoUrl={school.logo.src}
                subHeader={school.subHeader}
                duration={school.duration}
                desc={school.desc}
                descBullets={school.descBullets}
              />
            ))
          }
        </div>
      </div>
    </div>
    <div>
      <div class="education-image-div">
        <img alt="Developer Working" src={developerActivitySvg.src} />
      </div>
    </div>
  </div>
</div>
<style>
  .education-main-div {
    display: flex;
  }

  .education-main-div > * {
    flex: 1;
    margin-bottom: 30px;
  }

  .education-image-div > img {
    max-width: 100%;
    height: auto;
  }

  .education-heading {
    font-size: 3.5rem;
    font-weight: 400;
  }

  .education-section {
    display: flex;
    flex-direction: column;
    /* width: 90%; */
    max-width: 100%;
    padding: 0;
  }

  .education-section > * {
    flex: 1;
    margin-bottom: 30px;
  }

  .education-card-container {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }

  @media (max-width: 1380px) {
    /* .education-card-container {
      padding-top: 0 1.5rem 1.5rem 1.5rem;
    } */

    .education-heading {
      font-size: 2.5rem;
    }

    .education-text-subtitle {
      font-size: 1.125rem;
      text-align: center;
    }

    .education-section {
      padding: 0;
    }
  }

  @media (max-width: 768px) {
    .education-main-div {
      flex-direction: column;
    }
    .education-text-div {
      margin: 0;
    }

    /* .education-card-container {
      padding: 0 1.5rem 1.5rem 1.5rem;
    } */

    .education-heading {
      font-size: 1.875rem;
      text-align: center;
    }

    .education-text-subtitle {
      font-size: 1rem;
    }
  }
</style>
