---
interface Props {
  readonly schoolName: string;
  readonly schoolUrl: string;
  readonly degree: string;
  readonly logoUrl: string;
  readonly duration: string;
  readonly descBullets: readonly string[];
}

const { schoolName, schoolUrl, degree, logoUrl, duration, descBullets } = Astro.props;
---

<div>
  <div class="education-card">
    <div class="education-card-logo">
      <img crossorigin="anonymous" class="education-roundedimg" src={logoUrl} alt={schoolName} />
    </div>
    <div class="education-card-right">
      <strong class="education-text-school">
        <a class="education-school-link" href={schoolUrl} target="_blank">{schoolName}</a>
      </strong>

      <div class="education-text-details">
        <p class="education-text-degree">{degree}</p>
        <p class="education-text-duration">{duration}</p>
        <div class="education-text-bullets">
          <ul>
            {descBullets.map((descBullet) => <li>{descBullet}</li>)}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<style lang="scss">
  @use '../styles/variables.scss' as global;
  .education-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .education-card-logo {
    text-align: center;
  }

  .education-head {
    display: flex;
    flex-direction: row;
  }

  .education-text-school {
    display: block;
    @include global.paragraph-fonts();
    font-weight: 700;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
  }

  .education-school-link {
    color: var(--primary-text);
    text-decoration: none;
  }

  .education-school-link:hover {
    text-decoration: underline;
  }

  .education-text-details {
    margin-top: 1rem;
  }
  .education-text-details > * {
    @include global.paragraph-fonts();
    text-align: center;
  }

  .education-text-details > .education-text-bullets {
    text-align: left;
    margin-top: 1rem;
  }

  .education-roundedimg {
    object-fit: cover;
    width: 4rem;
    height: 4rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    margin: 0.5rem 0;
  }

  .education-text-bullets > ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  /* Media Query */

  @media (min-width: 768px) {
    .education-card-logo {
      text-align: left;
    }
    .education-roundedimg {
      width: 6rem;
      height: 6rem;
    }
    .education-text-details > * {
      text-align: left;
    }

    .education-text-school {
      text-align: left;
    }
  }

  @media (min-width: 1380px) {
    .education-card {
      flex-direction: column;
    }
  }
</style>
