---
import universityOfTulsaLogo from '../assets/images/the-university-of-tulsa.svg';
import spherexxLogo from '../assets/images/SpherexxLogo.webp';
import techsicoLogo from '../assets/images/techsico-logo.svg';
import quikTripLogo from '../assets/images/quiktrip-logo.svg';
import hoganLogo from '../assets/images/hogan-logo.svg';

const workExperiences = [
  {
    role: 'Software Developer',
    company: 'Hogan Assessments',
    companyLogo: hoganLogo,
    date: 'March 2023 – Current',
    desc: '.NET 6/Cosmos DB/Angular',
    descBullets: [
      'RxJS',
      'Redux (NgRx)',
      'Unit Tests (Jasmine/xUnit)',
      'E2E Tests (Cypress/Playwright)',
      'API development',
      'Swagger (Swashbuckle)',
      'Azure DevOps',
      'Microservices',
      'Event-driven architecture',
      'Storybook',
    ],
    backgroundColor: [4, 4, 4],
  },
  {
    role: 'Software Developer II',
    company: 'QuikTrip',
    companyLogo: quikTripLogo,
    date: 'March 2021 – March 2023',
    desc: '.NET 6/MSSQL/Angular',
    descBullets: [
      'API development (OData/EF Core/Swagger)',
      'Database design (SQL Server)',
      'Front-end development (Angular)',
      'Unit Tests (xUnit/Jasmine)',
      'ETL (SSIS)',
      'Mobile development (Angular/Ionic)',
      'Azure DevOps',
      'IBM DB2',
      'JD Edwards E1',
      'JD Edwards E1 Orchestrator',
      'Claris FileMaker',
    ],
    backgroundColor: [9, 6, 6],
  },
  {
    role: 'Technical Lead',
    company: 'Techsico',
    companyLogo: techsicoLogo,
    date: 'August 2020 – March 2021',
    desc: '.NET Core/MSSQL/ReactJS/Tailwind CSS',
    descBullets: [
      'Head of Web Development',
      'Maintained legacy internal management VB.NET system',
      'Train junior developers in ReactJS and .NET Core',
      'Maintained policies for AWS IAM',
      'Managed public DNS names to load balancers via Route53',
      'Maintained .NET Core API',
      'Managed relational database including architecture and security',
      "Product owner for Techsico's code infrastructure",
      'DocuSign integration',
    ],
    backgroundColor: [20, 52, 116],
  },
  {
    role: 'Fullstack Developer',
    company: 'Spherexx',
    companyLogo: spherexxLogo,
    date: 'September 2017 – August 2020',
    desc: 'Classic ASP/.NET Framework/MSSQL/jQuery',
    descBullets: [
      'Custom site builds for property management companies',
      'Content management systems in Classic ASP and ASP.NET',
      'Dashboards in .NET Framework with Vue frontend',
      'Maintained multi-company beer distribution systems',
      'Developer and Project Lead',
      'Moved projects to version control (TFS)',
      "Payment gateway with Square's Payment API",
    ],
    backgroundColor: [4, 12, 36],
  },
  {
    role: 'Student Researcher',
    company: 'University of Tulsa',
    companyLogo: universityOfTulsaLogo,
    date: 'September 2015 – April 2016',
    desc: '',
    descBullets: [
      'Research involved utilizing information foraging techniques to better understand how to improve human-information interaction in source code repositories by MATLAB and App Inventor',
      'Published in the 2016 IEEE Symposium on Visual Languages and Human-Centric Computing',
    ],
    backgroundColor: [4, 12, 36],
  },
] as const;

function rgb(values: readonly [number, number, number]) {
  return `rgb(${values.join(', ')})`;
}

type WorkExperience = (typeof workExperiences)[number];
---

<div class="main" id="experience">
  <div class="experience-container" id="workExperience">
    <div>
      <h2 class="experience-heading">Experiences</h2>
      <div class="experience-cards-div">
        {
          workExperiences.map((card: WorkExperience) => (
            <div class="experience-card">
              <div style={{ background: rgb([...card.backgroundColor]) ?? '' }} class="experience-banner">
                <div class="experience-blurred_div" />
                <div class="experience-div-company">
                  <strong class="experience-text-company">{card.company}</strong>
                </div>

                <img
                  crossorigin="anonymous"
                  class="experience-roundedimg"
                  src={card.companyLogo.src}
                  alt={card.company}
                />
              </div>
              <div class="experience-text-details">
                <strong class="experience-text-role">{card.role}</strong>
                <h2 class="experience-text-date">{card.date}</h2>
                <p class="subTitle experience-text-desc">{card.desc}</p>
                <ul>
                  {card.descBullets.map((descBullet: string) => (
                    <li class="subTitle">{descBullet}</li>
                  ))}
                </ul>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</div>
<style lang="scss">
  @use '../styles/variables.scss' as global;
  .main {
    margin-top: global.$section-margin-top;
  }
  .experience-cards-div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 1rem 1rem;
  }

  .experience-heading {
    @include global.heading-fonts();
    font-weight: 400;
    text-align: center;
  }

  .experience-container {
    display: flex;
    margin: 0px auto;
  }

  .experience-container > * {
    flex: 1;
  }

  /* Media Query */

  @media (min-width: 768px) {
    .experience-heading {
      text-align: left;
    }
    .experience-cards-div {
      grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    }
  }

  /* start card */
  .experience-card {
    position: relative;
    background-color: var(--primary-bg);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 30px -15px;
    border-radius: 10px;
    border: 1px solid rgba(211, 211, 211, 0.397);
  }

  .experience-card:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px -10px;
  }

  .experience-banner {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150%;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5));
    border-radius: 10px 10px 0px 0px;
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
    height: 11rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  .experience-blurred_div {
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2));
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    height: 11rem;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
  }

  .experience-div-company {
    position: absolute;
    background: transparent;
    height: 9rem;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .experience-text-company {
    text-align: center;
    padding: 1.5rem;
    margin: 0;
    /* todo: this color should contrast against company background color */
    color: #fff;
    font-size: 1.5625rem;
    text-align: center;
    font-weight: 700;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .experience-roundedimg {
    position: absolute;
    object-fit: cover;
    left: 0;
    right: 0;
    top: 7rem;
    margin-left: auto;
    margin-right: auto;
    width: 8rem;
    height: 8rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    background-color: #fff;
  }

  .experience-text-role {
    display: block;
    text-align: center;
    color: var(--primary-text);
    font-weight: 700;
    font-size: 1.5625rem;
    margin: 0px;
    padding-top: 1.5rem;
    line-height: normal;
  }

  .experience-text-desc,
  .subTitle {
    color: var(--primary-text);
  }

  .experience-text-date {
    text-align: center;
    color: var(--primary-text);
    font-size: 1.25rem;
    margin: 0px;
    padding-top: 1rem;
    font-weight: 600;
  }

  .experience-text-desc {
    text-align: center;
  }

  .experience-text-details {
    padding: 1.5rem;
    margin-top: 2rem;
  }

  /* Media Query */

  @media (max-width: 1380px) {
    .experience-text-role {
      padding-top: 0.5rem;
      font-size: 1.375rem;
    }
    .experience-text-company {
      font-size: 1.375rem;
    }
    .experience-text-date {
      font-size: 1.125rem;
    }
    .experience-roundedimg {
      width: 6.5rem;
      height: 6.5rem;
    }
  }

  @media (max-width: 768px) {
    .experience-text-role {
      font-size: 1.375rem;
    }
    .experience-text-company {
      font-size: 1.375rem;
    }
    .experience-text-date {
      font-size: 1.125rem;
    }
    .experience-text-desc {
      font-size: 1.125rem;
    }
  }
</style>
